body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

.viewport {
    position: relative;
    height: 50vh;
    overflow: hidden;
}


.card {
 
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.card:after{
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.04680851063829783) 45%, rgba(0,0,0,1) 96%);
}

img {
    display: block;
    height: auto;
    width: 100%;
}

.viewport:first-child {
    background: rgb(34, 193, 195);
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.viewport:last-of-type {
    background: rgb(137, 34, 195);
    background: linear-gradient(90deg, rgba(137, 34, 195, 1) 0%, rgba(45, 253, 169, 1) 100%);
}

.icons{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 0.3em;
    
}

.icons svg{
    display: block;
    fill: aliceblue;
}